* {
    margin: 0;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    background-color: black;
}

.container .gallery-area {
    height: 100%;
    width: 100%;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-area img {
}

.gallery-area input[type="button"] {
    border-radius: 20px;
    font-size: 1rem;
}